<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href=".public/assets/burger_style.css">
		<title>Make& Devour Burger!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="./public/assets/burgers.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
