<section class="container">
<h1>Eat Da Burger!</h1>

<h2>What ya gonna devour today?!</h2>


<div id = "buttonSpot">
<input id="user" type="text"></input>
<button type="submit" id='button'>Submit</button>
</div>


{{#each burger}}
{{#if devoured}}
<ul>
    <li>
        {{burger_name}}
    </li> 

</ul>       

{{else}}
<ul >
<li>
    {{burger_name}}    
    <button class="devour" id="{{id}}">Devour it!</button>      
</li>
</ul>
{{/if}}
{{/each}}

</section>